.separator {
  flex-shrink: 0;
  background: var(--brand-200);
}

.separator[data-orientation='horizontal'] {
  width: 100%;
  height: 1px;
}

.separator[data-orientation='vertical'] {
  width: 1px;
  height: 100%;
}
